$semantic-root-element: '#root';

.income {
  color: #3ada42;
}

.expenses {
  color: #e15d5d;
}

details > ul {
  margin-bottom: 0;
  padding-left: 0;
}

details > ul > li {
  list-style-type: none;
}

@import '@picocss/pico/scss/pico';
